@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$blue: #304675;
$lightBlue: #38538d;
$navBackground: #38538dde;
$lightGrey: #f9f9f9;
$grey: #F7F7F9;
$white: #fdfdfd;
@mixin button {
  background-color: $lightGrey;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  
}
html {
  font-size: 10px;
  font-family: "Merriweather Sans", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: $lightGrey;
  overflow-y: hidden;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}
.header {
  width: 100%;
  height: 40vh;
  background-color: $blue;
  border-bottom-left-radius: 5rem;
  .country {
    width: 100%;
    height: 50%;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .country-wrapper {
      width: 50%;
      justify-self: center;
      .city {
        color: $lightGrey;
        font-size: 3rem;
      }
      .country-name {
        color: $white;
        font-size: 2rem;
      }
    }
    .burger{
      @include button();
      font-size: 3rem;
      border-radius: 1rem;
      z-index: 120;
      .fa-times{
        display: none;
      }
    }
    .nav {
      position: fixed;
      right: -100%;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $navBackground;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform .5s ease;
      .units {
        @include button();
        margin-right: 2rem;
      }
      .search-wrapper{
        .search-input {
          border: 5px solid $grey;
          border-radius: .5rem;
          width: 200px;
          height: 5rem;
          font-size: 2rem;
          margin-right: -.7rem;
          outline: none;
        }
        .search-city {
          @include button();
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      
    }
    .nav.toggle{
      transform: translateX(-100%);
      
    }
    .burger.toggle{
      .fa-bars{
        display: none;
      }
      .fa-times{
        display: block;
      }
    }
  }
  .temp {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    .temp-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30%;
      height: 100%;
    }
    .temp-current {
      height: 100%;
      width: auto;
      color: $white;
      font-size: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }
  }
}

main {
  width: 100%;
  height: 55vh;
  .body {
    width: 100%;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: -1;
      top: -50%;
      left: 0;
    }
    .conditions {
      height: 100%;
      .container {
        padding-top: 0;
        padding: 0 0;
        .conditions-wrapper {
          width: 100%;
          height: 25vh;
          display: flex;
          background-color: $white;
          border-bottom-left-radius: 5rem;
          padding-bottom: 2.5rem;
          .condition {
            width: 33%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            i {
              display: flex;
              align-items: center;
              font-size: 4rem;
              color: $blue;
              height: 50%;
              margin-bottom: 2rem;
            }
            span {
              font-size: 2rem;
              font-weight: 600;
              color: $blue;
            }
            img {
              margin-bottom: 3.4rem;
              background-color: white;
              height: 30%;
            }
          }
        }
        .swiper-container {
          width: 100vw;
          height: 100%;
          background-color: #eee;
          .swiper-slide {
            height: 60%;
            background-color: $lightBlue;
            border-radius: 1rem;
            padding-top: 2rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h1 {
              text-align: center;
            }
            img {
              transform: scale(1.5);
            }
            .slide-temp{
              font-size: 2rem;
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:700px){
  .burger{
    display: none;
  }
  .nav {
    position: initial !important;
    width: initial !important;
    height:initial !important;
    align-items: start !important;
    background-color: initial !important;   
  }
}